@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
background-color: #edf2f6;
font-family:sans-serif
  
}



@media (min-width: 1276px) {
  .app-margin {
    margin: 0 400px;
  }
}

@media (max-width:480px) {

  .xsm-flex-wrap{

    flex-wrap:wrap;
  }

  
}









